/* universal styling starts here */

*{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    height: 50px;
    width: 100px;
}

/* universal styling ends here */


/* main section styling starts */

.main{
    height: 100vh;
    text-align: center;
    margin: 250px;
}

#profilephoto{
    display: inline-flex;
    height: 300px;
    width: 300px;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

/* main section styling ends */

/* about section styling starts */

.about{
    text-align: center;
    height: 50vh;
    height: 70vh;
}

#buttons{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}

/* about section styling ens */

/* contact section styling starts */

.contactbuttons{
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    margin-top: 50px;
}

/* contact section styling ends */


/* skills section starts */
.skills{
    height: 50vh;
}

.buttonsskills{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
/* skills section ends */